{% if inline %}
  {% set glass_inline = false %}
  {% include 'inline.html' %}
{% else %}
  <div style="
    width: 300px;
    height: 150px;
    background: {{ color }};
    color: {{ text_color }};
    position: relative;
    border-radius: 10px;
    overflow: hidden;
  ">
    <div style="
      position: absolute;
      left: 14px;
      top: 13px;
      width: 80px;
      height: 80px;
      overflow: hidden;
      border-radius: 8px;
    ">
      <div style="
        transform: scale(.533333);
        transform-origin: top left;
      ">{{ cover|safe }}</div>
    </div>
    <div style="
      position: absolute;
      left: 105px;
      right: 15px;
      top: 10px;
      font-size: 19px;
    ">
      <div class="ellipsis" style="
        border-bottom: 2px solid;
        padding-bottom: 6px;
      ">{{ song.name }}</div>
      <div style="
        margin-top: 3px;
        transform: translateY(3px);
      ">{{ song.score }}</div>
      <div style="
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        margin-top: 5px;
        gap: 4px;
      ">
        <span class="ellipsis">{{ version }}</span>
        <span style="flex-shrink: 0;">{{ song.dx_score }}</span>
      </div>
    </div>
    <div style="
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 45px;
      background: white;
      border: 3px solid {{ color }};
      border-radius: 0 0 10px 10px;
    "></div>
    {% for key, x, y, w, h in [('score_icon',225,43,65,30),('combo_icon',7,103,40,45),('sync_icon',47,103,40,45),('dx_star',91,119,80,16)] %}
      {% if icons[key] %}
        <img src="{{ icons[key] }}" style="
          position: absolute;
          left: {{ x }}px;
          top: {{ y }}px;
          width: {{ w }}px;
          height: {{ h }}px;
        ">
      {% endif %}
    {% endfor %}
    <div style="
      position: absolute;
      right: 12px;
      top: 117px;
      color: black;
      font-size: 19px;
    ">{{ '%.1f'|format(song.internalLevelValue) }} → {{ song.ra }}</div>
  </div>
{% endif %}
